#work {
  padding-left: 15px;
  padding-right: 15px;
  .card {
    width: 18rem;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  .card:hover {
    box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
