#personal {
  align-items: center;
  justify-content: center;
  .nav-item.nav-link {
    color: var(--customwhite);
    &.active {
      color: var(--customblack);
    }
  }
  p {
    a {
      color: var(--customgrey);
    }
  }
  .tab-content {
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 82vh;
  }
  .current {
    text-decoration: underline;
  }
  .finished {
    text-decoration: line-through;
  }
  .author {
    font-size: 75%;
    font-style: italic;
  }
  .quote::before {
    content: open-quote;
    font-size: 2em;
    color: var(--customwhite);
    line-height: 0em;
    vertical-align: -0.1em;
  }
  .quote::after {
    content: close-quote;
    font-size: 2em;
    color: var(--customwhite);
    line-height: 0em;
    vertical-align: -0.1em;
    margin-left: -0.05em;
  }
  .quote {
    font-size: 102.5%;
    font-style: italic;
  }
  .aside {
    font-size: 75%;
    padding-right: 4px; // Account for 7px scrollbar
    font-style: italic;
    text-align: end;
    display: block;
  }
}
