// Adapted from Geoff Graham on CSS-Tricks : https://css-tricks.com/snippets/css/typewriter-effect/
.typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
}
#l2r1 {
  border-right: 0.1em solid var(--customwhite); /* The typwriter cursor */
  animation: 
  typingl2r1 0.5s steps(3, end),
  blink-caret 0.75s step-end infinite, 
  hideme 0s ease-in 2s forwards;
}
#r2l {
  margin-left: -1.2em;
  border-right: 0.1em solid var(--customwhite); /* The typwriter cursor */
  visibility: hidden;
  animation: 
  typingr2l 0.8s steps(4, end) 2s,
  blink-caret 0.75s step-end 1s infinite, 
  unhideme 1s ease-in 2s forwards,
  hideme 0s ease-in 4s forwards;
}
#l2r2 {
  margin-left: -2.2em;
  border-right: 0.1em solid var(--customwhite); /* The typwriter cursor */
  visibility: hidden;
  animation: 
  typingl2r1 0.8s steps(6, end) 4s,
  blink-caret 0.75s step-end infinite,
  unhideme 0s ease-in 4s forwards,
  fadeout 2s ease-in 6s forwards;
}

/* The typing effect for "Welcome" */
@keyframes typingl2r1 {
  from {
    width: 0;
  }
  to {
    width: 1em;
  }
}

@keyframes typingr2l {
  from {
    width: 0em;
  }
  to {
    width: 2.05em;
  }
  
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--customwhite);
  }
}

@keyframes hideme {
  to {
    visibility: hidden;
  }
}

@keyframes unhideme {
  to {
    visibility:visible;
  }
}

@keyframes fadeout {
  from{
    opacity: 1;
  }
  to {
    opacity:0;
  }
}