@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --customblack: #1e1e1e;
  --customwhite: #f8f9fa;
  --customgrey: #8b8c8c;
  --navhover: #331e1e1e; /*color when nav items are hovered over*/
  --secthover: #d6d4d3; /*color when next section icon is hovered over*/
}
code {
  color: #a0d0e9 !important;
  font-size: 100% !important;
}
.layoutContainer {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px !important;
  @media screen and (max-width: 600px) {
    font-size: 1rem !important;
    #contact {
      display: none;
    }
  }
  color: var(--customwhite) !important;
  background-color: var(--customblack) !important;
  .icon {
    display: block;
    margin: auto;
    background-color: var(--customwhite);
    border: 0px solid var(--customwhite);
    transition: background-color 250ms ease-in;
    &:hover {
      background: var(--secthover);
    }
  }
  .circle_icon {
    border-radius: 50%;
  }
  .circle_icon:hover {
    background: var(--secthover);
  }
  .round_icon {
    border-radius: 20%;
  }
  .round_icon:hover {
    background: var(--secthover);
  }
  #contact {
    @media screen and (max-width: 600px) {
      font-size: 0.75rem;
    }
    @media screen and (max-width: 339px) {
      visibility: hidden;
    }
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    mix-blend-mode: difference;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--customblack);
}
::-webkit-scrollbar-thumb {
  background: var(--customgrey);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secthover);
}
